{% extends "template.html" %}

{% block title %}Velo hinzufügen{% endblock %}

{% block main %}
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10"><br>
    <form>
    <h1>Velo hinzufügen</h1><br>
      <div class="form-group col-12 col-md-8 col-sm-2">
        <label for="inputMarke">Marke</label>
        <input type="text" class="form-control" id="inputMarke" placeholder="z.B. Cube, Merida, Scott"><br>
        <label for="inputFarbe">Farbe</label>
        <input type="text" class="form-control" id="inputFarbe" placeholder="z.B. schwarz, silber, rot"><br>
        <label for="inputRahmenart">Rahmenart</label>
        <select id="inputRahmenart" class="form-control">
          <option selected>Wähle...</option>
          <option>Damenvelo</option>
          <option>Herrenvelo</option>
          <option>Kindervelo</option>
          <option>Mountainbike</option>
          <option>Rennvelo</option>
        </select><br>
        <label for="inputPreis">Wunschpreis</label>
        <input type="text" class="form-control" id="inputPreis"><br>
        <div class="form-group row">
        <label for="staticZuschlag" class="col-sm-4 col-form-label">+ Zuschlag: </label>
          <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticZuschlag" value="python function coming in here!">
          </div>
        </div>
        <div class="form-group row">
        <label for="staticPreis" class="col-sm-4 col-form-label">Verkaufspreis: </label>
          <div class="col-sm-8">
          <input type="text" readonly class="form-control-plaintext" id="staticPreis" value="python function coming in here!">
          </div>
        </div>
      </div>
      <div class="form-check col-12 col-md-8 col-sm-2">
        <input class="form-check-input" type="checkbox" id="checkNichtverkauf">
        <label class="form-check-label" for="checkNichtverkauf">
        <p>Ich spende mein Fahrrad beim Nichtverkauf an die Stiftung.</p></label><br>
        <button type="submit" class="btn btn-primary">Velo hinzufügen</button><br><br><hr><br>
      </div>
    </form>
  </div>
  <div class="col-1">
  </div>
</div>
{% endblock %}
