{% extends "template.html" %}

{% block title %}Velo hinzufügen{% endblock %}

{% block main %}
<!-- Folgende Programmierung ermöglicht die Darstellung des Formulars mit Eingabefeldern -->
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10"><br>
    <form method="POST" enctype="multipart/form-data">
    <h1 style="margin-top:50px;">Velo hinzufügen</h1><br>
      <div class="form-group col-12 col-md-12 col-sm-12">
        <label for="marke">Marke</label>
        <input type="text" class="form-control" id="marke" name="marke" required placeholder="z.B. Cube, Merida, Scott"><br>
        <label for="farbe">Farbe</label>
        <input type="text" class="form-control" id="farbe" name="farbe" required placeholder="z.B. schwarz, silber, rot"><br> <!-- ID und Name-Tags sind essentiell für die Verknüpfung mit Python Flask -->
        <label for="rahmen">Rahmenart</label>
        <!-- Folgender Code ist für das Dropdown zuständig, welches es dem Kunden ermöglicht, nur von diesen 5 Kategorien zu wählen -->
        <select id="rahmen" name="rahmen" class="form-control">
          <option selected>Wähle...</option>
          <option value="Damenvelo">Damenvelo</option>
          <option value="Herrenvelo">Herrenvelo</option>
          <option value="Kindervelo">Kindervelo</option>
          <option value="Mountainbike">Mountainbike</option>
          <option value="Rennvelo">Rennvelo</option>
        </select><br>
        <!-- hier legt der Kunde seinen Wunschpreis fest, anhand des Wunschpreises wird in der Datenbank-->
        <label for="preis">Wunschpreis</label>
        <input type="text" class="form-control" id="preis" name="preis">
      </div><br>
      <div class="custom-file col-12 col-md-12 col-sm-12">
        <input type="file" class="custom-file-input" id="bild" name="bild">
        <label class="custom-file-label" for="customFile" style="margin-left:15px;margin-right:15px;">Bild hinzufügen</label>
      </div><br><br>
      <div class="form-check col-12 col-md-12 col-sm-12">
        <input class="form-check-input" type="checkbox" id="spende" name="spende" style="margin-left:-5px;">
        <label class="form-check-label" for="spende" style="margin-left:30px;">Ich spende mein Fahrrad beim Nichtverkauf an die Stiftung.</label>
      </div><br><br>
      <div>
        <!-- Folgender Button ist zuständig für die Übertragung, sollte ein Fehler auftreten wird dies mit untenstehenem Code gelöst -->
        <button type="submit" class="btn btn-success">Velo hinzufügen</button>
      </div><br><hr><br>
    </form>
    {% if error %}
        {{ error }}
    {% endif %}
  </div>
  <div class="col-1">
  </div>
</div>
{% endblock %}