{% extends "template.html" %}

{% block title %}Velo hinzufügen{% endblock %}

{% block main %}
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10"><br>
    <form method="POST">
    <h1>Velo hinzufügen</h1><br>
      <div class="form-group col-12 col-md-8 col-sm-2">
        <label for="marke">Marke</label>
        <input type="text" class="form-control" id="marke" name="marke" required placeholder="z.B. Cube, Merida, Scott"><br>
        <label for="farbe">Farbe</label>
        <input type="text" class="form-control" id="farbe" name="farbe" required placeholder="z.B. schwarz, silber, rot"><br>

        <label for="rahmen">Rahmenart</label>
        <select id="rahmen" name="rahmen" class="form-control">
          <option selected>Wähle...</option>
          <option value="Damenvelo">Damenvelo</option>
          <option value="Herrenvelo">Herrenvelo</option>
          <option value="Kindervelo">Kindervelo</option>
          <option value="Mountainbike">Mountainbike</option>
          <option value="Rennvelo">Rennvelo</option>
        </select><br>
        <label for="preis">Wunschpreis</label>
        <input type="text" class="form-control" id="preis" name="preis"><br>
      </div>
      <div class="form-check col-12 col-md-8 col-sm-2">
        <label class="form-check-label" for="spende">Ich spende mein Fahrrad beim Nichtverkauf an die Stiftung.</label>
        <input class="form-check-input" type="checkbox" id="spende" name="spende"><br><br>
        <button type="submit" class="btn btn-primary">Velo hinzufügen</button><br><br><hr><br>
      </div>
    </form>
    {% if error %}
        {{ error }}
    {% endif %}
  </div>
  <div class="col-1">
  </div>
</div>
{% endblock %}